<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/addproducts" role="button" class="btn btn-success ms-auto mb-5">Add Products</a>
        </div>
        <table class="table" id="table_id">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>
        {{#each product}}
    <tr>
      
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>

    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>