<!DOCTYPE html>
<html>
  <head>
    <title>Adminpage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h2 class="text-center">Admin Page</h2>
            
               <a href="/admin/login" role="button" class="btn btn-success ms-auto mb-5">Login</a>

  </body>
</html>