<section>
     <div class="row">
    <div class="container">
     <div class="col-md-12 text-center">
    <h2 class="text-center mt-4">Your order successfully placed</h2>
    <a href="/view-orders" class="btn btn-success mt-4">view orders</a>
    </div>
    </div>
    </div>
</section>