<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pe-5">
             <img style="display:block;margin-left:auto;margin-right:auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiTfkFo-X7FH-Kw_jBcpMQF1kIl8JrQyle_w&usqp=CAU" alt="">
            <h1 class="text-center mb-3">Create new account</h1>
            <form action="/signup" method="POST" enctype="multipart/form-data" >
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter the name" name="name">
                </div>
                 <div class="form-group mb-3">
                    <label>Email Address</label>
                    <input type="email" class="form-control" placeholder="Enter the email" name="email">
                </div>
                 <div class="form-group mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>

            
            <a href="/login" class="text-decoration-none">Already have an account?</a>
           
            <button class="btn btn-primary float-end" type="submit" >Signup</button>
            </form>
        </div>
    </div>
</div>